@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
body{
  background: white;
}
a{
  text-decoration: none;
  color: inherit;
  line-height:1;
  cursor: pointer;

}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  
  color: #212121;
  padding: 13px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border:0;
  outline: 0;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}
.btn img{
  margin-left: 10px;
  width: 20px;
}
/* App.css or global css */
.main-content { 
  padding-top: var(--nav-height); /* navbar ke niche se start karega */
}

/* agar tumne .container use kiya hai (jaisa screenshot me), to bhi add kar sakti ho */
.container {
  padding-top: 24px; /* optional for spacing under the offer title */
}
